# Data Types
## Built-in Data Types
In programming, data type is an important concept. Variables can store data of different types, and different types can do different things.

### Getting the data type 
we can get the data type of any object by using the **type()** function.
###### Example :

In [2]:
x = 9
y = "Hello World!"
z = 9.8
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

Python has the following data types built-in by default, in these categories:
### 1.Text type : str (string)

In [3]:
x = "Hello World!"
print(x) #display the value of x
print(type(x)) #display the data type of x

Hello World!
<class 'str'>

### 2.Numeric types : int (integer), float, complex
###### Example :- int (integer)

In [4]:
x = 25
print(x) #display the value of x
print(type(x)) #display the data type of x

25
<class 'int'>

###### Example :- float

In [5]:
x = 9.8
print(x) #display the value of x
print(type(x)) #display the data type of x

9.8
<class 'float'>

###### Example :- complex

In [6]:
x = 1j
print(x) #display the value of x
print(type(x)) #display the data type of x

1j
<class 'complex'>

### 3.Sequence types : list, tuple, range
###### Example :- list

In [7]:
cars = ["Benz", "BMW", "Audi"]
print(cars) #display the value of x
print(type(cars)) #display the data type of x

['Benz', 'BMW', 'Audi']
<class 'list'>

###### Example :- tuple

In [8]:
cars = ("Benz", "BMW", "Audi")
print(cars) #display the value of x
print(type(cars)) #display the data type of x

('Benz', 'BMW', 'Audi')
<class 'tuple'>

###### Example :- range

In [9]:
z = range(25)
print(z) #display the value of x
print(type(z)) #display the data type of x

range(0, 25)
<class 'range'>

### 4.Mapping type : dict (dictionary)

In [10]:
a = {"name" : "Cherry", "age" : 26}
print(a) #display the value of x
print(type(a)) #display the data type of x

{'name': 'Cherry', 'age': 26}
<class 'dict'>

### 5.Set types :- set, frozenset
###### Example :- set

In [11]:
cars = {"Benz", "BMW", "Audi"}
print(cars) #display the value of x
print(type(cars)) #display the data type of x

{'BMW', 'Benz', 'Audi'}
<class 'set'>

###### Example :- frozenset

In [12]:
cars = frozenset({"Benz", "BMW", "Audi"})
print(cars) #display the value of x
print(type(cars)) #display the data type of x

frozenset({'BMW', 'Benz', 'Audi'})
<class 'frozenset'>

### 6.Boolean type : bool

In [13]:
a = True
print(a) #display the value of x
print(type(a)) #display the data type of x

True
<class 'bool'>

### 7.Binary types : bytes, bytearray, memoryview
###### Example :- bytes

In [14]:
a = b"Hello"
print(a) #display the value of x
print(type(a)) #display the data type of x

b'Hello'
<class 'bytes'>

###### Example :- bytearray

In [15]:
a = bytearray(9)
print(a) #display the value of x
print(type(a)) #display the data type of x

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

###### Example :- memoryview

In [16]:
a = memoryview(bytes(9))
print(a) #display the value of x
print(type(a)) #display the data type of x

<memory at 0x000002BA0D9FB700>
<class 'memoryview'>

### Converting from one data type to a different data type : (CASTING)
we can change the type of the object in Python; this is called typecasting. For example, we can convert an *integer* into a *float*.

Casting in python is therefore done using constructor functions:

- **int()** - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

###### Example : Integers

In [17]:
a = int(1)
b = int(2.2) #in this case decimals will be removed.
c = int("3")
print(a)
print(b)
print(c)

1
2
3

###### Example : floats

In [18]:
a = float(1)
b = float(2.2)
c = float("3")
d = float("4.8")
print(a)
print(b)
print(c)
print(d)

1.0
2.2
3.0
4.8

###### Example : strings

In [19]:
a = str("A1")
b = str(12)
c = str(23.0)
print(a)
print(b)
print(c)

A1
12
23.0